h1{
    color:blueviolet;
}
.mile1{
    color:darkblue;
    font-style:italic
}
.mile2{
    color:deeppink;
    font-style: italic;
}
.mile3{
    color: gold;
    font-style: italic;
}
.mile4{
    color:green;
    font-style: italic;
}
.mile5{
    color:ivory;
    font-style: italic;
}
body{
    background-color: darksalmon;
}